<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="de.melovi.plugins.melovivideocapture"
        version="1.2">

  <name>Melovi Video Capture</name>

  <description>
    Video recording without Sound.
  </description>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/MeloviVideoCapture.js" name="MeloviVideoCapture">
   <clobbers target="window.RecordAudio" />    
  </js-module>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="VideoCapturePlus">
        <param name="ios-package" value="VideoCapturePlus"/>
      </feature>
    </config-file>

    <header-file src="src/ios/VideoCapturePlus.h"/>
    <source-file src="src/ios/VideoCapturePlus.m"/>

    <framework src="CoreGraphics.framework" />
    <framework src="MobileCoreServices.framework" />
  </platform>

  <!-- android --> 

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MeloviVideoCapture">
        <param name="android-package" value="de.melovi.plugins.melovivideocapture.MeloviVideoCapture" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-feature android:name="android.hardware.camera" />
      <uses-permission android:name="android.permission.RECORD_VIDEO"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    </config-file>

    <source-file src="src/android/de/melovi/plugins/melovivideocapture/MeloviVideoCapture.java" target-dir="src/de/melovi/plugins/melovivideocapture" />
    <source-file src="src/android/de/melovi/plugins/melovivideocapture/FileHelper.java" target-dir="src/de/melovi/plugins/melovivideocapture" />
  </platform>

</plugin>
